<div class="ddContainer">
    <div class="fullGridColumns cardBox" *ngIf="showField('infrastructure')"><fa-icon [icon]="faSitemap" size="2x"></fa-icon><p class="text_center">Infrastructure</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('controller')"><fa-icon [icon]="faCog" size="2x"></fa-icon><p class="text_center">Controller</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('reflection')"><fa-icon [icon]="faClone" size="2x"></fa-icon><p class="text_center">Reflection</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('dataHandler')"><fa-icon [icon]="faDatabase" size="2x"></fa-icon><p class="text_center">DataHandler</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('eventHandler')"><fa-icon [icon]="faBroadcastTower" size="2x"></fa-icon><p class="text_center">EventHandler</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('virtualizer')"><fa-icon [icon]="faVrCardboard" size="2x"></fa-icon><p class="text_center">Virtualizer</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
    <div class="cardBox" *ngIf="showField('ui')"><fa-icon [icon]="faEye" size="2x"></fa-icon><p class="text_center">UI</p><fa-icon class="icon_right" [icon]="faDownload" size="1x"></fa-icon></div>
</div>
