#header {
    display: grid;
    background-size: cover;
    background-color: #1a3a4d;
    color: white;
    height: 75px;
    top: 0;
    z-index: 3;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}