.formContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    width: 100%;
    height: 70%;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.fullGridColumns{
    grid-column: 1 / 3;
    grid-row: 1;
}
textarea {
    width: 100%;
    height: 60vh;
    overflow:auto;
    font-family: monospace;
    font-size: 1em;
    resize: none;
    border: none;
    border-radius: 14px;
    background: #1a3a4d;
    box-shadow: inset 41px 41px 82px #163141, 
                inset -41px -41px 82px #1e4359;
    color: white;
}

button{
border: none;
height: 50px;
width: 50px;
border-radius: 50%;
background: #1a3a4d;
box-shadow:  9px 9px 18px #163141, 
             -9px -9px 18px #1e4359;
}